@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>validateAdmin</title>
</head>
<body>
    <div>
            <script>alert("@ViewBag.msg");</script>
            <script>window.location = '/Admin/Index'</script>
    </div>
</body>
</html>
