@{
    ViewBag.Title = "About";
}

        <div class="row" id="sheet">
    <h2>About</h2>
    <div class="col-md-4">
        <img src="/Images/atif.png" />
    </div>
    <div class="col-md-4" style="margin-left:5%;margin-top:2.5%;color:orange;height:20%;width:40%;">
        <p id="about">Music Store is the world’s leading social sound platform where anyone can listen, Upload and Download sounds. It takes just a click to download ar upload sounds. Sound  Cloud can be accessed anywhere using the official iPhone and Android apps.</p>
    </div>
</div>
