@{
    ViewBag.Title = "Top Singer";
}
@using Music_Store.Models
<div class="container-fluid">
    <div id="sheet">
        <div>
            <h2 style="margin-left:3%;margin-top:5%;">What would you like to listen to?</h2>
            <h4 style="margin-left:3%;">Choose from our huge collection of all category music and enjoy your life.</h4>
        </div>
        <div style="margin-top:5%;">
            <h2 style="margin-left:45%;">Music</h2>
        </div>
        <div class="row" style="margin-top:5%;margin-left:8%;">
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=ChillOut"><img src="/Images/chillout.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">ChillOut</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Clubs"><img src="/Images/club.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Clubs</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Classical"><img src="/Images/classical.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Classical</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Electronic"><img src="/Images/electronic.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Electronic</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Bass"><img src="/Images/Bass.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Bass</h5></div>
        </div>
        <div class="row" style="margin-top: 5%; margin-left: 8%;">
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Beat"><img src="/Images/Beat.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Beat</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Jazz"><img src="/Images/jazz.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Jazz</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Rock"><img src="/Images/rock.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Rock</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Hip Hop"><img src="/Images/hiphop.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Hip Hop</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Festival"><img src="/Images/festival.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Festival</h5></div>
        </div>
        <div class="row" style="margin-top: 5%; margin-left: 8%;">
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Party"><img src="/Images/party.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Party</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Pop"><img src="/Images/pop.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">Pop</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Trance"><img src="/Images/trance.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Trance</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=Techno"><img src="/Images/techno.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Techno</h5></div>
            <div class="col-sm-3" style="height:200px;width:170px;"><div class="album"><a href="/User/Category2/?category=EDM"><img src="/Images/edm.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:45%;">EDM</h5></div>
        </div>
    </div>
</div>