@{
    ViewBag.Title = "TopSingers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Music_Store.Models
    <div class="container-fluid">
        <div id="sheet">
            <h2 style="margin-left:2%;">Top Singers</h2>
            <div class="row" style="margin-top:5%;margin-left:2%;">

                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Nusrat Fateh Ali Khan"><img src="/Images/nusrat.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:20%;">Nusrat Fateh Ali Khan</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Arijit Singh"><img src="/Images/arijit.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Arijit Singh</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Atif Aslam"><img src="/Images/atif.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Atif Aslam</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Rahat Fateh Ali Khan"><img src="/Images/rahat.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:20%;">Rahat Fateh Ali Khan</h5></div>

            </div>
            <div class="row" style="margin-top:5%;margin-left:2%;">
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Ankit Tewari"><img src="/Images/ankit.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Ankit Tewari</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Ali Zafar"><img src="/Images/Alizafar.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Ali Zafar</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Amanat Ali"><img src="/Images/amanat.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Amanat Ali</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Falak Shabir"><img src="/Images/falak.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Falak Shabir</h5></div>

            </div>
            <div class="row" style="margin-top:5%;margin-left:2%;">

                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Farhan Saeed"><img src="/Images/farhan.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Farhan Saeed</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Hadiqa Kiyani"><img src="/Images/hadiqa.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Hadiqa Kiyani</h5></div>
                <div class="col-sm-3" style="height:250px;width:250px;"><div class="album"><a href="/User/TopSingers2/?singer=Bilal Saeed"><img src="/Images/bilal.png" class="img-responsive" alt="music theme" /></a></div><h5 style="margin-left:40%;">Bilal Saeed</h5></div>
            </div>
        </div>
    </div>
